<ul>
  <li ng-click="showCreateForm();">
    + Create a new coffee
  </li>
  <li ng-repeat="object in listData.results">
    <span ui-sref="roast({'coffeeid':object.id})">
      [[object.name]]
    </span>
    <span coffee-delete 
          obj="object"
          index="$index">
      x
    </span>
  </li>
</ul>

<ng-form ng-show="createFormVisible"
         name="createForm">
  <label for="name">
    Name your coffee:
  </label>
  <input name="name"
         ng-model="newCoffee.name"
         ng-class="{'errorInput': createForm.name.$touched && createForm.name.$error.required}"
         coffee-form-name-input
         placeholder="Name your coffee and hit enter"
         required>
  </input>
  <div coffee-create
       form="createForm"
       obj="newCoffee"> 
    Submit
  </div>
  <div ng-click="hideCreateForm(); initCreateForm(); createForm.$setPristine(); createForm.$setUntouched()">
    Cancel
  </div>
</ng-form>

<ui-view>
</ui-view>