{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}roasttron{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link rel="stylesheet" href="{% static 'bower_components/nvd3/build/nv.d3.css/' %}">

    <script src="{% static 'bower_components/angular/angular.js/' %}"></script>
    <script src="{% static 'bower_components/angular-route/angular-route.js/' %}"></script>
    <script src="{% static 'bower_components/angular-resource/angular-resource.js/' %}"></script>
    <script src="{% static 'bower_components/angular-cookies/angular-cookies.js/' %}"></script>
    <script src="{% static 'bower_components/d3/d3.js/' %}"></script>
    <script src="{% static 'bower_components/nvd3/build/nv.d3.js/' %}"></script>
    <script src="{% static 'bower_components/angular-nvd3/dist/angular-nvd3.js/' %}"></script>

  </head>

  <body ng-app="roastTron" ng-controller="main">
    <div ng-controller="roastListCtrl"
         ng-include="staticPath.path('roastTron/roast/listView.html')">
    </div>
    <div ng-view>
    </div>
  </body>
  <script>
  angular.module('routes', [])
    .factory('paths', [
      function() {
        var self = {};
        self.getAPIPaths = function(basePath) {
          return {
            base: basePath,
            list: basePath + '?format=json',
            detail: basePath + ':id/?format=json',
            update: basePath + ':id/',
            save: basePath
          }
        }
        self.coffee = "{% url 'api-coffee-list' %}"
        self.roast = "{% url 'api-roast-list' %}"
        self.temppoint = "{% url 'api-temppoint-list' %}"
        return self;
      }
    ])
    .provider('staticPath', [
      function() {

        var self = this

        self.URL = '{% static '' %}';
        self.path = function(path) {

          var URLArray = self.URL.split('/');
          var staticPathArray = URLArray.slice(0, URLArray.length-1)
          if (path[0] !== '/') {
            path = '/' + path;
          }
          return staticPathArray.join('/') + path
        }

        self.$get = function() {
          return self;
        }
        return self;
      }
    ])
  </script>

  <script type="text/javascript" src="{% static 'roastTron/shared/controllers.js/' %}"></script>
  <script type="text/javascript" src="{% static 'roastTron/coffee/services.js/' %}"></script>

  <script type="text/javascript" src="{% static 'roastTron/roast/listController.js/' %}"></script>
  <script type="text/javascript" src="{% static 'roastTron/roast/detailController.js/' %}"></script>
  <script type="text/javascript" src="{% static 'roastTron/roast/directives.js/' %}"></script>
  <script type="text/javascript" src="{% static 'roastTron/roast/services.js/' %}"></script>

  <script type="text/javascript" src="{% static 'roastTron/temppoint/services.js/' %}"></script>

  <script type="text/javascript" src="{% static 'roastTron/app.js/' %}"></script>

</html>