<ul>
  <li ng-click="showCreateForm()">
    + Create a new profile 
  </li>
  <li ng-repeat="object in listData.results">
    <span ui-sref="roast.detail({coffeeid:object.coffee, id:object.id})">
      [[ object.name ]]
    </span>
    <span roast-delete
          obj="object"
          index="$index">
      x
    </span>
  </li>
</ul>
<ng-form ng-show="createFormVisible"
         name="createForm">
  <label for="name">
    Name your profile: [[something.someotherthing]]
  </label>
  <input name="name"
         ng-model="newRoast.name"
         ng-class="{'errorInput': createForm.name.$touched && createForm.name.$error.required}"
         roast-form-name-input
         placeholder="Name your profile and hit enter to begin"
         required>
  </input>
  <div roast-create
       form="createForm"
       obj="newRoast"> 
    Begin recording
  </div>
  <div ng-click="hideCreateForm(); initCreateForm(); createForm.$setPristine(); createForm.$setUntouched()">
    Cancel
  </div>
</ng-form>

<ui-view>
</ui-view>